<%- include('../front/header.ejs') %>
<div class="container-fluid">
  <div class="container">
      <h2 class="a"><b style="font-size: 50px;">ABOUT US</b></h2>
      <br>
      <div class="row">
          <div class="col-md-7">

              <p class="b">Blogging is a popular form of online content creation that involves 
                regularly publishing articles, posts, or entries on a website, often in a reverse 
                chronological order. Bloggers, who are individuals or groups of people, create 
                blogs to share their thoughts, expertise, experiences, and opinions on a wide range 
                of topics. Blogging has become a significant aspect of the internet and has evolved 
                over the years. Here are some key aspects of bloggingThe core of blogging is creating 
                content. This content can be written articles, but it can also include images, videos,
                 infographics, and other multimedia elements. The content typically focuses on a particular 
                 niche or subject matter, such as travel, technology, food, fashion, or personal development.
              </p>
             

          </div>
          <div class="col-md-5 text-center">

              <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScpOVm0xBWbWub9-KJXgfKUm-vbUoTRdroDA&usqp=CAU' class="img shadow-lg" style="height: 330px; width: 300px;">
          </div>
      </div><!--row end-->
  </div><!--container end-->
</div><!--container-fluid end-->
<br>
<br>
<br>
<%- include('../front/footer.ejs') %>
