<%- include('../front/header.ejs') %>
<div class="container ">
  <div class="row">
    <div class="col-md-6">
      <img src="https://www.searchenginejournal.com/wp-content/uploads/2020/08/7-ways-a-blog-can-help-your-business-right-now-5f3c06b9eb24e-1280x720.png" class="pic shadow" />
    </div>
    <div class="col-md-6 ">
      <div class="text">
        <h2 style="font-size: 50px;">About Us</h2>
        <p style="text-align: justify;">
          There are many reasons to start a blog for personal use and only a handful of strong ones for business blogging. 
          Blogging for business, projects, or anything else that might bring you money has a very straightforward purpose – to rank your website higher in Google SERPs, a.k.a.
          increase your visibility.
        </p>
        <p style="text-align: justify;">
          As a business, you rely on consumers to keep buying your products and services. As a new business, you rely on blogging to help you get to potential consumers and grab their attention. Without blogging, your website would remain invisible,
           whereas running a blog makes you searchable and competitive.
        </p>
        <p style="text-align: justify;">
          So, the main purpose of a blog is to connect you to the relevant audience. 
          Another one is to boost your traffic and send quality leads to your website.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<%- include('../front/footer.ejs') %>
