<footer class="py-3 bg-dark text-light">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-desc">
              <div class="logo-footer">
                <a href="">
                    <img src="https://global-uploads.webflow.com/5e157548d6f7910beea4e2d6/63d3b673e72c803ae6452e80_Screen%20Shot%202023-01-27%20at%201.27.41%20AM.png" alt="" class="photo">
                </a>
                <!-- <p>Stationery refers to commercially manufactured writing materials, including cut paper, envelopes,
                  writing implements, continuous form paper, and other office supplies.</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-nav">
              <h4>Quick Links</h4>
              <ul>
                <li>
                  <a href="about.html" style="color: aliceblue;text-decoration: none; ">About us</a>
                </li>
                <li>
                  <a href="contact.html" style="color: aliceblue; text-decoration: none;">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="social-media">
              <h4>Follow Us</h4>
              <ul>
                <li class="smedia-01">
                  <a href="" style="text-decoration: none;">
                    <span class="media-icon">
                      <i class="fa-brands fa-facebook" style="color: aliceblue;"></i>
                    </span>
                    <span class="media-name facebook" style="color: aliceblue; ">Facebook</span>
                  </a>
                </li>
                <li class="smedia-02">
                  <a href="" style="text-decoration: none;" >
                    <span class="media-icon">
                      <i class="fa-brands fa-twitter" style="color: aliceblue;"></i>
                    </span>
                    <span style="color: aliceblue;">Twitter</span>
                  </a>
                </li>
                <li class="smedia-03">
                  <a href="" style="text-decoration: none;">
                    <span class="media-icon">
                      <i class="fa-brands fa-square-instagram" style="color: aliceblue;"></i>
                    </span>
                    <span class="media-name" style="color: aliceblue;">Instagram</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-contact">

              <h4>Contact</h4>
              <p>J 5, Central Market, Block J, Lajpat Nagar II, Lajpat Nagar Part -2, New
                Delhi, Delhi 110024</p>
              <p>
                <i class="fa fa-phone-square"></i>
                Phone: +91-751-23456789
              </p>
              <p>
                <i class="fa fa-envelope"></i>
                E-mail:
                <a href="" style="color: aliceblue; text-decoration: none;">writtingBlog@domain.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-foot">
      <div class="container">
        <p class="text-center">
          Copyright © 2023 - Design & Developed by
          <a href="" style="color: aliceblue;text-decoration: none;">Shubham Sharma</a>
        </p>
      </div>
    </div>
</footer><!--footer end-->

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>